<head>
    <title>Astors App</title>
</head>
<body>
    <h1>My App</h1>
    <h4Thug Life</h4>
    <form> action="/" method="POST">
    <p>Enter your breakfast:
    <input name="breakfast" />
    </p>
    <button type="submit">Submit</button>
    </form>
</body>